@charset "utf-8";

/* CSS Document */

/*通用属性*/
h1, h2, h3, h4, h5, h6, p, blockquote, div, ul, ol, li, dl, dd, dt, td, th, textarea, input, menu, figure, form { padding:0px; margin:0px; }

table, td, tr, th, font { font-size:12px; }

h1, h2, h3, h4, h5, h6 { font-size:12px; line-height:normal; font-weight:normal; }

ul, ol, li, menu { list-style:none; }

address, caption, cite, code, dfn, em, strong, th, var { font-weight:normal; font-style:normal; }

/*img { behavior: url(iepngfix.htc); border: none; vertical-align:top; }*//* 查找IMG 的 PNG 过滤 */
img { behavior: url(iepngfix.htc); border: none; }/* 查找IMG 的 PNG 过滤 */

.fix_png { behavior: url(iepngfix.htc);
} /* 背景图片引用 */

input { vertical-align:middle; }

a { font-family:"宋体"; font-size:12px; color:#000; text-decoration:none; outline:none;}

a:hover { text-decoration:underline; }

.left { float:left; display:inline; }

.right { float: right; display:inline;}

.height5 { height:5px; clear:both; }

.height10 { height:10px; clear:both; }

.height15 { height:15px; clear:both; }

.height20 { height:20px; clear:both; }

.height30 { height:30px; clear:both; }

li a{
	cursor:pointer; 	
}

/*清除浮动*/
.clear {
	clear: both;
}

body { width:100%; margin:0px; padding:0px; font-family:"宋体"; font-size:12px; color:#000; background:#FFF; 
_background-image: url(about:blank); /*用浏览器空白页面作为背景*/
_background-attachment: fixed; /* prevent screen flash in IE6 确保滚动条滚动时，元素不闪动*/}

/*页面*/
.content { width:1000px; margin:0 auto; }
/*头部*/
.header { width:100%; height:175px; margin:0 auto; background:url(../img/2.gif) no-repeat center top; }

.header1 { width:100%; height:122px; margin:0 auto; background:url(../img/1-1.jpg) no-repeat center top; }

.header2 { width:100%; height:142px; margin:0 auto; background:url(../../default/img/banner1.jpg) no-repeat center top; }
/*导航*/
.nav{ 
   width:100%; 
   height:39px; 
   line-height:39px; 
   text-align:center; 
   margin:0 auto; 
   background:url(../../default/img/nav.jpg) no-repeat center top;
   _top:expression(documentElement.scrollTop + 0 + "px");
}

.dh { width:982px; margin:0 auto; height:39px;}

.dh1 { width:100px; float:left; height:39px; }

.dh1:hover { width:77px; float:left; height:39px; background:url(../img/slide.png) no-repeat; }

.dh3 { margin-left:16px; float:left; height:39px;}
/*
.dh3:hover {float:left; height:39px; background-color:url(../../default/img/repeat.png) repeat-x;}
*/
.dh2 { width:99px; float:left; height:39px; }

.dh2:hover { width:99px; float:left; height:39px; background:url(../img/3-2.jpg) no-repeat; }

.nav a { font-size:14px; font-weight:bold; color:#FFF; font-family:"宋体"; }

.nav a:hover { font-size:14px; font-weight:bold; color:#FFF; font-family:"宋体"; text-decoration:none; }

/*容器*/
.container { width:px; overflow:hidden; }

.banner { width:982px; float:left; }

/*菜单*/
.menu1 { width:982px; float:left; }

.menu1-left { width:346px; float:left; }

.menu1-right {width:624px; height:252px; float:right; border:1px solid #cccccc;background:url(../../default/img/new_line_head_long.jpg) no-repeat;}

.menu1-right-top { width:624px; height:30px; background:url(../../default/img/new_line_head_long.png) no-repeat; line-height:30px; float:left; border-bottom:1px solid #cccccc; position:relative; }

.menu1-right-top img { float:left; margin:8px 0 0 9px; display:inline; }

.menu1-right-1 { width:602px; float:left; margin:9px 0 0 11px; display:inline; }

.menu1-right-1 li { width:602px; float:left; line-height:26px;cursor:pointer; }

.menu1-right-2 { width:602px; float:left; color:#333333; font-family:"宋体"; }

.menu1-right-2:hover { width:602px; float:left; color:#990000; font-family:"宋体"; text-decoration:none; }

.menu2 { width:484px; height:252px; border:1px solid #cccccc; }

.menu2-top { width:484px; height:30px; background:url(../img/new_line_head.png) repeat-x; line-height:30px; float:left; border-bottom:1px solid #cccccc; position:relative;z-index:-1; }

.menu2-top img { float:left; margin:8px 0 0 9px; display:inline; }

.menu2-1 { width:464px; float:left; margin:9px 0 0 10px; display:inline; }

.menu2-1 li { width:464px; float:left; line-height:30px; cursor:pointer; }

.menu2-1 li img { float:left; padding:10px 10px 0 0; }

.menu2-2 { width:464px; float:left; color:#333333; font-family:"宋体"; }

.menu2-2:hover { width:464px; float:left; color:#990000; font-family:"宋体"; text-decoration:none; }

.menu3 { width:982px; height:96px; background:url(../img/tu3.jpg) no-repeat; overflow:hidden; }

.menu3-1 { width:254px; height:96px; float:left; overflow:hidden; }

.menu3-1 img { float:left; margin:46px 0 0 119px; display:inline; }

.menu3-2 { width:243px; height:96px; float:left;}

.menu3-2 p {width:226px; height:24px; float:left; margin:46px 0 0 8px; display:inline; }

.menu3-3 { width:240px; height:96px; float:left; overflow:hidden; }

.menu3-3 img { margin:46px 0 0 24px; display:inline; float:left; }

.menu3-4 { width:214px; height:96px; float:right;  margin-right:180px; _margin-right:0px;}

.menu3-4 p { width:214px; float:left; margin:30px 0 0 -82px;_margin:30px 0 0 -16px; display:inline;_position:relative;_left:25px;}

/*=============================================频道页======Channel page=============================================*/

.Channel-left { width:208px; float:left;}

.Channel-center {width:202px; float:left; margin-top:4px; background:url(../img/7-center.png) repeat-y left top; padding-bottom:13px; height: 385px;}


.Channel-center h1 { width:100%; height:59px; margin:0px auto;
/* background:url(../img/Channel-center.png) no-repeat; */
text-align:center; }

.Channel-center	h1.select{
		background:url(../img/Channel-center-select.jpg) no-repeat;
	}
.Channel-center	h1.unselect{
		background:url(../img/Channel-center.png) no-repeat;
	}

.Channel-center h1 a { line-height:48px; font-size:20px; color:#e2edf5; font-family:"微软雅黑"; font-weight:bold;text-decoration:none; }


.Channel-center h2 {width:100%; height:145px; float:left;display:inline; margin-top:30px; }
.Channel-center p{width:200px; float:left; margin:20px 0 0 -94px;_margin:20px 0 0 -94px; display:inline;}

.libiao_menu { width:100%; float:left;text-align: center; }
.libiao_menu dt.xias{background:url(../img/libiao_menu.jpg) no-repeat;}
.libiao_menu dl {display:inline; width:100%;}

.libiao_menu dl dt { width:100%; height:38px;_height:16px; float:left; line-height:38px;_line-height:16px; }

.libiao_menu dl dt a {text-decoration:none; font-size:14px; }

.libiao_menu dl dt a.rights {width:100%; height:33px;color:#000; }

.libiao_menu dl dt a.xias { background:url(../img/libiao_menu.png) no-repeat; width:190px; height:33px; float:left; color:#FFF; }

.libiao_menu dt a:hover{background:url(../img/libiao_menu.jpg) no-repeat;width:202px; height:33px; float:left; color:#FD2E2E;}

.libiao_menu dl dd { padding-left:20px; width:166px; float:left; }

.libiao_menu dl dd ul { width:166px; float:left; }

.libiao_menu dl dd ul li { width:166px; float:left; font-size:12px; line-height:30px; text-indent:18px; }

.libiao_menu dl dd ul li a { display:block; width:166px; height:30px; float:left; background:url(../img/8-1.jpg) no-repeat; color:#6c6c6c; }

.libiao_menu dl dd ul li a:hover { display:block; width:166px; height:30px; float:left; background:url(../img/8.jpg) no-repeat; color:#005ca8; font-weight:bold; text-decoration:none; }

.Channel-bottom { width:208px; height:4px; float:left; }

.Channel-right { width:790px;_width:790px; float:right; padding-top: 10px;}

.Channel-right h1 { width:758px; float:left; font-family:"宋体"; color:#666; font-size:12px; height:19px;}

.Channel-right h1 a { font-family:"宋体"; color:#666; font-size:12px; }

.Channel-right h1 a:hover {color:red; text-decoration:underline;}

.Channel-right1 {width:100%; float:left;}

.Channel-right1 h1 {width:99%; height:28px; float:left; margin:7px 0 0 6px; line-height:28px; color:#FFF; display:inline; background:url(../img/Channel-right1.jpg) repeat-x; }

.Channel-right1 h1 span.left {color:#FFF; font-family:"微软雅黑"; font-size:15px; font-weight:bold; padding-left:14px; }

.Channel-right1 h1 a { color:#FFF; font-family:"微软雅黑"; font-size:14px; padding-right:11px;text-decoration:none; }

.Channel-right2 {width:98%; float:left; margin:4px 0 0 12px;}

.Channel-right2 li {width:100%; float:left; height:31px; line-height:31px; display:inline; border-bottom:1px dashed #b2b2b2;overflow:hidden;}

.Channel-right2 li a {width:100%; float:left; height:31px; line-height:31px; display:inline; text-indent:46px; color:#000; background:url(../img/10-1.jpg) no-repeat left 1px; cursor:pointer; }

.Channel-right2 li a:hover {width:100%; float:left; height:29px; color:#0e4b8f; background:url(../img/10.jpg) no-repeat left 1px; }


.Channel-right7 {width:99%; float:left; margin:4px 0 0 5px;}

.Channel-right7 li {width:100%; float:left; height:31px; line-height:31px; display:inline; border-bottom:1px dashed #b2b2b2;overflow:hidden;}

.Channel-right7 li a {width:100%; float:left; height:31px; line-height:31px; display:inline; text-indent:46px; color:#000; background:url(../img/10-1.jpg) no-repeat left 1px; cursor:pointer; }

.Channel-right7 li a:hover {width:100%; float:left; height:29px; color:#0e4b8f; background:url(../img/10.jpg) no-repeat left 1px; }


.Channel-right2 li span.right { padding-right:20px;}

.Channel-right3 {margin:4px 0 0 120px; display:inline; }

.Channel-right4 { width:100%;display:inline;  }

.Channel-right4 h4 { width:100%; float:left; font-size:16px; color:#000; font-weight:bold; padding-top:17px; text-align:center; }

.Channel-right4 h2 { width:100%; float:left; font-size:12px; color:#7e7e7e; padding-top:12px; text-align:center; }

.Channel-right4 h3 { width:100%; float:left; border-bottom:1px dashed #7f7f7f; padding-top:14px; }

/*.Channel-right4 .content { width:97%; float:left; font-size:12px; color:#000; padding-top:12px; line-height:22px; min-height:400px; _height:450px;}*/

.Channel-right4 .content { width:97%; float:left; font-size:medium; font-family: 宋体; color:#000; padding-top:12px; line-height:170%; min-height:400px; _height:450px; padding-left: 15px;}

.Channel-right4 h5 { width:100%; float:left; border-bottom:1px solid #b6b6b6; padding-top:14px; }

#scroll-title { clear: both;border-bottom: 1px solid #DCDEDD;padding:10px 0px;position: relative;}
#scroll-title span{color: #5C5A5B;font-size: 15px;font-weight: bold;padding-left: 10px;}    

/*====================================================*/
.icon { width:144px; height:32px; line-height:35px; background:url() no-repeat; position:absolute; left:-1px;_left:-1px; bottom:-1px; _bottom:-3px; padding-left:27px;}
.icon_long { width:165px; height:32px; line-height:35px; background:url() no-repeat; position:absolute; left:-1px;_left:-1px; bottom:-1px; _bottom:-3px; }
/*======================================友情链接=======friendLink===================================*/
.friendLink { width:980px; float:left; height:118px; border:1px solid #cccccc; }

.friendLink h1 { width:980px; float:left; line-height:30px; color:#003366; font-size:14px; height:30px; border-bottom:1px solid #cccccc; background:url(../img/4-1.jpg) repeat-x; }

.friendLink h2 { width:965px; float:left; line-height:24px; padding:10px 0 0 15px; }

.friendLink h2 a { color:#333333; font-size:12px; font-family:"宋体"; white-space:nowrap; }

/*======================尾脚=======================*/
.footer { width:100%; height:126px; background:url(../img/4-2.jpg) repeat-x; float:left; position:relative; z-index:1; }

.footer1 { width:982px; float:left; text-align:center; font-family:Arial, Verdana; font-size:12px; color:#444444; line-height:22px; }

.footer1 h1 { padding:18px 0 8px 0; color:#000; }

.footer1 a { color:#000; font-size:12px; font-family:"宋体"; }

/*================分页=================*/


.scott { float:left; text-align: center; margin:16px 0 0 20px; display:inline;padding-top: 8px; width: 100%;}

.scott a { border:#e3e3e3 1px solid; padding:4px 7px; COLOR:#000; margin:4px; background:#FFF; }

.scott a:hover {COLOR:#0a57a7;text-decoration:none;}

.scott a:active {COLOR:#0a57a7;}

.errorMessage{
	color: #ff0000;
	padding-left: 5px;
}


/*table*/
table.uiInfoTable{
	width: 900px;
	margin: 0;
	padding:0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	
}
table.uiInfoTable th{
	background-color:#e3e3e3;
	color:#3c4963;
	border-bottom:1px #bbb solid;
	_white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
   
}
table.uiInfoTable td{
	
	padding:10px;
    color: #3e3e83;
	line-height:20px;
	border-bottom:1px #bbb solid;
	
	
}
table.uiInfoTable tbody tr{
	border-bottom:#ccc 1px solid ;
}

table.uiInfoTable th.label{
	
	padding:10px;
	text-align:right;
	vertical-align:baseline;
	_white-space:nowrap;
	white-space:nowrap;
}

table.uiInfoTable th.label span{
	color:#F00;
	padding-right:3px;

}
